{{ $buildOptions := dict "minify" true "target" "es2015" }}
{{ $scripts := slice (resources.Get "js/src/base.js") (resources.Get "js/src/nav.js") (resources.Get "js/src/contact.js") }}
{{ if .IsHome }}
  {{ $scripts = collections.Append (resources.Get "js/src/home.js") $scripts }}
{{ end }}
{{ $targetPath := cond .IsHome "js/home-site.js" "js/site.js" }}
{{ $content := ($scripts | resources.Concat $targetPath | js.Build $buildOptions).Content }}
<script>{{ $content | safeJS }}</script>
{{ partial "icon-data" . }}
